@import "../../config";

.button {
    padding: map_get($space, xs) map_get($space, md);
    border: none;
    background: none;
    cursor: pointer;
    color: map_get($color, white);
}

.button--primary {
    color: map_get($color, white);
    background-color: map_get($color, primary);
}
.button--secondary {
    color: map_get($color, white);
    background-color: map_get($color, primary-light);
}
//.button--disabled { //@todo
//    color: #ECEFF1;
//    background-color: #B0BEC5;
//}
