@font-face {
    font-family: 'tt-webfont';
    src: url('../fonts/tt-regular-webfont.woff2') format('woff2'); /* Super Modern Browsers */
    font-weight: normal;
}
@font-face {
    font-family: 'tt-webfont';
    src: url('../fonts/tt-medium-webfont.woff2') format('woff2'); /* Super Modern Browsers */
    font-weight: bold;
}

@import "./config";
@import "./functions";
//@import "./elements/Grid/index";
//@import "./elements/Paper/index";
//@import "./elements/Time/index";
//@import "./elements/Options/index";
//@import "./elements/Suggest/index";
//@import "./elements/Form/index";
//@import "./elements/List/index";
//@import "./elements/Hero/index";
//@import "./elements/Avatar/index";
//@import "./elements/Poster/index";
//@import "./elements/Tab/index";
//@import "./elements/Block/index";
//@import "./elements/ArtistPanel/index";
//@import "./elements/LoadingStrip/index";
//@import "./elements/OffscreenMenu/index";
//@import "./elements/MarkDownContainer/index";
//@import "./elements/MemberTimeLine/index";
//@import "./elements/Icons/index";
//@import "./components/ArtistHeader/index";
//@import "./components/CollectionHeader/index";
//@import "./elements/Uploader/index";
//@import "react-image-crop";

html {
    box-sizing: border-box;
}

body {
    color: #496274;
    background-color: #f5f6f7;
    box-sizing: inherit;
}

*, *:before, *:after {
    margin: 0;
    padding: 0;
}

main[role=main] {
    max-width: 1024px;
    margin: auto;
}

a {
    color: rgb(0, 0, 238);
    text-decoration: none;
}
a:hover {
    color: rgb(0, 0, 238);
    text-decoration: underline;
}


header {
    background-color: #546e7a;
    background-image: linear-gradient(to right, #973999, #f8598b, #f7bf00);
    nav {
        max-width: 980px;
        margin: auto;

        ul {
            list-style: none;
            li {
                display: inline-block;
                a {
                    display: block;
                    padding: 8px 16px 8px 0;
                }
            }

        }
    }
}

footer {
    background-color: rgb(240, 240, 240);
}
